@import url(reset.css);
@import url(mode.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.dark-mode {
    color: #FFFFFF;
    background: linear-gradient(to bottom left, #121212 60%, #292929); 
}

.light-mode {
    color: #121212;
    background: linear-gradient(to bottom left, #F3F3F3 60%, #DBDBDB);
}

body {
    color: #FFFFFF;
    background: linear-gradient(to bottom left, #121212 60%, #292929);
    width: fit-content;
}

header {
    border-bottom: 1px solid #4a4a4e;
}

nav {
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

ul {
    width: 518px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-family: DINCondensed-Bold;
    font-size: 16px;
    letter-spacing: 1.6px;
}

a {
    color: black;
    text-decoration: none;
}


/* main */
main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo img {
    width: 157px;
}

#contents {
    margin-left: 90px;
    font-family: OpenSans;
}

#product-title, #product-price {
    font-family: DIN Condensed;
}

#product-number {
    opacity: 0.7;
    font-family: Helvetica;
    font-size: 9px;
    letter-spacing: 0.6px;
}

#product-title {
    font-family: DINCondensed-Bold;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#product-star {
    display: flex;
    align-items: center;
}

#product-star img {
    width: 20.5px;
}

#product-star span{
    font-family: Helvetica;
    font-size: 9px;
    letter-spacing: 0.6px;
    margin-left: 10px;
}

#product-price {
    margin: 30px 0px 20px;
    font-size: 30px;
}

#product-desc {
    word-break: keep-all;
    width: 300px;
    opacity: 0.7;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 30px;
}

#main {
    display: flex;
    flex-direction: column;
    margin: 105px 160px ;
}

#main-img {
    width: 340px;
}

#other-views {
    display: flex;
    flex-direction: row;
}

#other-views div {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 51px;
    height: 51px;
    /* border: 3px solid #fff; */
    border-radius: 50%;
    background: #FFF;
    margin: 18px 10px;
    opacity: 0.5;
}

#other-views div:hover {
    opacity: 1;
    box-sizing: border-box;
    outline-offset: 3px;
    outline:  black thick solid;
    border-radius: 50%;
    /* box-shadow: 0 0 3px 0 #f2ff00; */
    
}


#other-views .active {
    opacity: 1;
}

#small-1 {
    position: absolute;
    top: 10px;
    width: 30px;
}

#small-2 {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 30px;
}

#small-3 {
    position: absolute;
    top: 10px;
    right: 2px;
    width: 40px;
}

#small-4 {
    position: absolute;
    top: 0px;
    width: 38px;
}


#small-5 {
    position: absolute;
    bottom: 5px;
    width: 33px;
}


/* customization */
#custominzation {
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    font-size: 10px;
    color: #000000;
    letter-spacing: 0.33px;
    text-align: center;
}



#option-1, #option-2 {
    width: 190px;
    height: 72px;
    margin-bottom: 35px;
}

#option-1 button, #option-2 button, #option-3 button {
    width: 90px;
    height: 40px;
}

#option-1 div, #option-2 div, #option-3 div, #option-4 div {
    margin-top: 15px;
}

#option-3 {
    margin-bottom: 35px;
}


#option-3 button{
    border: 1px solid #111;
    font-size: 10px;
    font-family: Helvetica;
    letter-spacing: 0.33px;
    text-align: center;
    border-radius: 2px;
}

#option-4 {
    margin-bottom: 40px;
}

#option-4 button{
    border: 1px solid #111;
    width: 300px;
    height: 50px;
}

#quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#number, #add {
    font-size: 16px;
    letter-spacing: 1.6px;
    text-align: center;
    border: 0;
    border-radius: 2px;
    border: 0;
}

#number {
    width: 90px;
    height: 50px;
    margin-right: 10px;
}

#add {
    width: 200px;
    height: 50px;
    background: #0083C2;
    color: #FFFFFF;
    font-family: DINCondensed-Bold;
}

/* quantity */
input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
}


/* setting */
#setting {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.switch {
    background-color: azure;
    cursor: pointer;
    width: 1.2em;
    border-radius: 0.6em;
    height: 3.2em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-right: 10px;
}


.options {
    height: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

#opt-1, #opt-2 {
    transition: .2s, all;
}

#opt-1 {
    color: #4a4a4e;
}

#opt-2 {
    color: #fff;
}